.login-section {
  background-color: #82EEFD;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-logo {
  border-radius: 1rem;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.login-card {
  border: 0px solid #000000;
  border-radius: 1rem;
}

.login-form-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.error-message {
  color: red;
  font-size: 0.875rem;
}

.button-primary {
  background-color: #000000;
}

.login-link {
  color: #393f81;
}

.smaller {
  width: auto;
  height: 40px;
}

.card-image {
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.product:hover {
  position: relative;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.05);
}

.bottom {
  margin-bottom: 50px
}

.review-container {
  display: flex;
  align-items: center;
}

.review-content {
  flex: 1;
}

.delete-review-button {
  margin-left: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg);
}

.carousel-container {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.carousel-inner {
  width: 100%;
  height: 100%;
  display: flex;
}

.carousel-item {
  min-width: 100%;
  height: 400px;
  position: relative;
}

.display-pic {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: contain;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.profile-upload {
  display: none;
}

input[id="file-upload"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #cccccc;
  border-radius: 10px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.upload-icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.chat-app {
  display: flex;
}

.chat-list-container {
  width: 30%;
  padding: 20px;
  background-color: #ffffff;
}

.chat-list {
  display: flex;
  flex-direction: column;
}

.chat-item {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  cursor: pointer;
}

.chatbox-container {
  flex: 1;
  padding: 20px;
}

.messages {
  height: 300px;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
}

.message {
  margin-bottom: 10px;
}

.new-message-form {
  display: flex;
}

.new-message-input {
  flex: 1;
  padding: 5px;
  margin-right: 10px;
}

.send-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.old-display {
  width: 100px;
  height: auto;

}

.chat-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.chat-app {
  display: flex;
  height: 80vh;
}

.chat-list-container {
  width: 25%;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.chatbox-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.other-user-info {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.chat-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.other-user-name {
  font-weight: bold;
}

.chat-list {
  display: flex;
  flex-direction: column;
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.chat-item.active {
  background-color: #f0f0f0;
}

.chat-name {
  flex: 1;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 10px;
  max-width: 380px;
  word-wrap: break-word;
}


.user-message {
  background-color: #007bff;
  color: #fff;
}

.other-message {
  background-color: #f0f0f0;
  color: #000;
}

.message-right {
  align-self: flex-end !important;
  background-color: #007bff !important;
  color: #fff !important;
}

.message-left {
  align-self: flex-start !important;
  background-color: #f0f0f0 !important;
  color: #000 !important;
}

.new-message-form {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.new-message-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
}

.send-button {
  padding: 8px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #0056b3;
}

.unread-count {
  position: absolute;
  top: 10px;
  right: -210px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.chat-pic-container {
  position: relative;
}

.chat-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-name {
  flex: 1;
}

.notification-badge {
  position: relative;
  top: -16px;
  left: -8px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.heart-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  font-weight: bold;
}

.heart-button .anticon-heart-outlined {
  color: #000;
}

.heart-button .anticon-heart-filled {
  color: #f00;
}

.review-container {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.review-content {
  word-wrap: break-word;
  max-width: 600px;
}

.delete {
  float: right;
}

.review-text {
  clear: right;
}

.add-to-favorites-container {
  display: flex;
  align-items: center;
}

.container {
  margin: 20px;
}

.order-image {
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.questions-section {
  margin-top: 20px;
}

.question-input {
  margin-bottom: 10px;
}

.payment-qr-section {
  margin-top: 20px;
  text-align: center;
}

.paid-image-input {
  margin-top: 20px;
}

.purchase-button {
  margin-top: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.empty-page {
 margin: auto;
 text-align: center;
}

.empty-page-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
}

.no-img-text {
  font-family: 'Times New Roman',serif;
  font-size: 23px;
}

.bg-light-blue {
  background-color: #ffffff;
}

.card.custom-card-color{
  background-color: #ffffff;
}


