.login-section {
  background-color: #82EEFD;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-logo {
  border-radius: 1rem;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.login-card {
  border: 0px solid #000000;
  border-radius: 1rem;
}

.login-form-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.error-message {
  color: red;
  font-size: 0.875rem;
}

.button-primary {
  background-color: #000000;
}

.login-link {
  color: #393f81;
}

.smaller {
  width: auto;
  height: 40px;
}

.card-image {
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.product:hover {
  position: relative;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.05);
}

.bottom {
  margin-bottom: 50px
}

.review-container {
  display: flex;
  align-items: center;
}

.review-content {
  flex: 1;
}

.delete-review-button {
  margin-left: auto;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
}

.profile-upload {
  display: none;
}

input[id="file-upload"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #cccccc;
  border-radius: 10px; 
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.upload-icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}